.carousel-container {
    position: relative;
    min-height: 500px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 10%;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-track {
    position: relative;
    width: 100%;
}

.carousel-item {
    position: absolute;
    width: 200px;
    display: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.carousel-item:hover{
    z-index:2;
}

.carousel-button {
    position: absolute;
    top: 50%;
    background-color: var(--primary-colorYellow);
    color: var(--primary-colorGreen);
    font-size: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.2s;
    opacity: 0.5;
}

.carousel-button.left {
    left: 55px;
}

.carousel-button.right {
    right: 90px;
}

.carousel-button:hover{
    background-color: var(--secondary-colorCream);
    transform: scale(1.05);
    opacity: 1;
}
