.container > section {
  display: flex;
  flex: 1 1 100%;
  justify-items: center;
  min-width: 60%;
  padding: 25px 20%;
  overflow-x: hidden;
}

.container > section:nth-child(odd) {
  background-color: var(--primary-colorGreen);
}

.container > section:nth-child(even) {
  background-color: var(--secondary-colorWhite);
}

h1{
  font-size: 64px;
  font-family: 'Markazi Text';
  color: var(--primary-colorYellow);
}

h2{
  font-size: 40px;
  font-family: 'Karla';
  color: var(--secondary-colorBlack);
}

h3, .h3-like{
  font-size: 40px;
  font-family: 'Markazi Text';
  color: var(--secondary-colorWhite);
}

.button {
  display: inline-block;
  padding: 20px 30px;
  background-color: var(--primary-colorYellow);
  color: var(--secondary-colorBlack);
  text-decoration: none;
  border-radius: 5px;
  border-style: none;
  font-family: 'Karla';
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
}

.button:hover{
  background-color: var(--secondary-colorCream);
  transform: scale(1.05);
}

.button:disabled{
  border-style: dotted;
  background-color:  var(--primary-colorGreen);
}


header {
  height: 125px;
  display: flex;
  padding-left: 20%;
  background-color: var(--secondary-colorWhite);
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  overflow: hidden;

  nav{
    height: 15px;
    transition: top 0.2s height 0.2s;
  }
  .nav-toggle{
    display: none;
  }

  img.nav-logo{
    padding-top: 2px;
    width: 180px;
    height: 'auto';
    object-fit: 'contain';
  }

  img.nav-menu{
    width: 30px;
  }

  .navbar {
    margin: 0;
    list-style-type: none;
    display: flex;
    white-space: nowrap;

    li {
      margin: 0 15px;
      transition: margin 0.5s ease-out, background-color 0.3s ease;
    }

    a {
      text-decoration: none;
      color: var(--secondary-colorBlack) ;
      font-family: 'Karla';
      font-size: 20px;
      transition: font-size 0.5s ease-out, background-color 0.3s ease;
    }

    a:hover {
      color: var(--primary-colorGreen);
    }
  }

  @media (max-width: 1200px) {
    img.nav-logo{
      width: 160px;
    }

    .navbar{
      li {
        margin: 0 7px;
      }
      a{
        font-size: 16px;
      }
    }
  }

  @media (max-width: 850px) {
    aside{
      padding-left: 40px;
    }
    .nav-toggle{
      width: 50px;
      margin-right: 15px;
    }

    nav {
      display: block;
      position: absolute;
      width: 100%;
      height: 0px;
      overflow: hidden;
      top: -10px;
      left: 0;
      background-color: var(--secondary-colorWhite);
      padding-top: 40px;
    }

    .navbar {
      flex-direction: column;
    }

    nav.open {
      height: 350px;
    }

    .nav-toggle {
      display: block;
    }

    .navbar li {
      margin: 10px 0;
    }

    .navbar a {
      font-size: 18px;
    }
  }
}

footer{
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20%;
  gap: 3%;
  flex-wrap: wrap;
  background-color: var(--primary-colorGreen);

  > img{
    width: 150px;
    height: auto;
    object-position: cover;
  }

  .text-section{
    padding-top: 30px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        color: var(--secondary-colorWhite);
        font-family: 'Karla';
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center;

        img{
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      a:hover {
        color: var(--secondary-colorBlack);
      }
    }
  }

  .header{
    color: var(--primary-colorYellow);
    font-family: 'Karla';
    font-size: 20px;
    font-weight: bolder;
  }

  .body{
    color: var(--secondary-colorWhite);
    font-family: 'Karla';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
}

.no-hover-link{
  pointer-events: none;
}