.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container section {
  display: flex;
}

.container > section {
  flex: 1 1 100%;
  justify-items: center;
  min-width: 60%;
  padding: 25px 20%;
}

.container > section:nth-child(odd) {
  background-color: var(--primary-colorGreen);
}

.container > section:nth-child(even) {
  background-color: var(--secondary-colorWhite);
}

Header {
  height: 125px;
  display: flex;
  padding-left: 20%;
  background-color: var(--secondary-colorWhite);
  align-items: center;
  flex-wrap: nowrap;

  .navbar {
    list-style-type: none;
    display: flex;
    white-space: nowrap;

    li {
      margin: 0 20px;
    }

    a {
      text-decoration: none;
      color: var(--secondary-colorBlack) ;
      font-family: 'Karla';
      font-size: 20px;
      transition: background-color 0.3s ease;
    }

    a:hover {
      color: var(--primary-colorGreen);
    }
  }
}

h1{
  font-size: 64px;
  font-family: 'Markazi Text';
  color: var(--primary-colorYellow);
}

h2{
  font-size: 40px;
  font-family: 'Karla';
  color: var(--secondary-colorBlack);
}

h3{
  font-size: 40px;
  font-family: 'Markazi Text';
  color: var(--secondary-colorWhite);
}

.button {
  display: inline-block;
  padding: 20px 30px;
  background-color: var(--primary-colorYellow);
  color: var(--secondary-colorBlack);
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Karla';
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
}

.button:hover{
  background-color: var(--secondary-colorCream);
  transform: scale(1.05);
}

footer{
  display: flex;
  padding: 25px 20%;
  gap: 3%;
  flex-wrap: wrap;
  background-color: var(--primary-colorGreen);

  > img{
    width: 150px;
    height: auto;
    object-position: cover;
  }

  .text-section{
    padding-top: 30px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        color: var(--secondary-colorWhite);
        font-family: 'Karla';
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center;

        img{
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      a:hover {
        color: var(--secondary-colorBlack);
      }
    }
  }

  .header{
    color: var(--primary-colorYellow);
    font-family: 'Karla';
    font-size: 20px;
    font-weight: bolder;
  }

  .body{
    color: var(--secondary-colorWhite);
    font-family: 'Karla';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
}